* {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}

body {
  background: #fff;
  color: #111;
}

.dash-container {
  padding: 50px;
}

.dash-title {
  font-size: 38px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.dash-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.dash-card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.07);
  transition: 0.3s;
}

.dash-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 25px rgba(0,0,0,0.1);
}

.dash-card h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.dash-card p {
  margin-bottom: 20px;
  color: #464545;
}

.dash-card button {
  background: black;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.25s;
}

.dash-card button:hover {
  background: #222;
}
