* {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}

.profile-container {
  padding: 50px;
}

.profile-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 35px;
}

.profile-box {
  background: #fafafa;
  padding: 35px;
  border-radius: 14px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

.profile-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.profile-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.profile-box button {
  background: black;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.profile-box button:hover {
  background: #222;
}
